* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background: black;
    min-height: 80vh;
}

.centre {
    position: absolute;
    top: 45%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
    padding: 2vh;
    z-index: 1000000;
}

h1 {
    letter-spacing: 1vh;
    font-size: 2.5vh;
    text-align: center;
    padding: 1vh;
}

h2 {
    font-size: 1.5vh;
    padding: 1vh;
}

.aboutme h1 {
    font-size: 1.75vh;
    padding: 0.5vh;
}

.aboutme h2 {
    font-size: 1.5vh;
    padding: 0.2vh;
    color: gray;
}

#profile {
    border-radius: 50%;
    height: 15vh;
    width: 15vh;
    margin: auto;
}


#padding {
    text-align: center;
    padding: 0vh 2vh;
}

#contact_logo {
    width: 5vh;
    padding: 0.5vh 0.5vh;
}

@media only screen and (min-width: 1024px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #000;
        color: #fff;
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background: black;
        min-height: 80vh;
    }

    .centre {
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 1s;
        padding: 5vh;
        z-index: 1000000;
    }


    a:hover {
        color: gray;
    }

    h1 {
        letter-spacing: 2px;
        font-size: 40px;
        padding: 10px;
    }

    h2 {
        font-size: 25px;
        padding: 7px;
    }

    .aboutme h1 {
        font-size: 30px;
        padding: 5px;
    }

    .aboutme h2 {
        font-size: 25px;
        padding: 2px;
    }

    p {
        color: black;
    }

    #profile {
        border-radius: 50%;
        height: 200px;
        width: 200px;
        margin: auto;
    }


    #padding {
        text-align: center;
        padding: 0vh 25px;
    }

    #contact_logo {
        width: 10vh;
        padding: 1vh 2vh;
    }
}