* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    background: white;
    min-height: 200vh;
}

.centre {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
    padding: 20px 75px;
    z-index: 1000000;
    background: rgb(46, 39, 54);
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 1s;
}

header ul li a:hover {
    text-decoration: underline;
}

header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 1s;
}

header .sticky {
    padding: 5px 100px;
    background: #000;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(images/dawn.jpg);
    background-size: cover;
}

.aboutme {
    position: relative;
    width: 100%;
    height: 100vh;
    align-items: center;
    background: url(images/sky.jpg);
    background-size: cover;
}

.aboutme p {
    position: relative;
    font-size: 25px;
    padding: 10px 10px;
}

.column {
    float: left;
    width: 23.33%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.banner h1 {
    letter-spacing: 3px;
    font-size: 70px;
    text-align: center;
}

h1 {
    letter-spacing: 3px;
    font-size: 50px;
    text-align: center;
}

h2 {
    font-size: 35px;
    font-weight: normal;
}

p {
    color: black;
}

#Jiwoo {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    display: block;
    margin: auto;
}

.contacts {
    background: white;
}
